<div class="container" *ngIf="Comic">
    <div class="card mb-4">
        <div class="card-img-top" *ngFor="let comic of Comic">
          <img [src]="comic.images[0].path?comic.images[0].path+'/portait_uncanny.jpg/':'assets/Images/image-not-found.jpg'">
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header" *ngFor="let comic of Comic">
            <h3>{{comic.title}}</h3>
        </div>
        <div class="card-body" *ngFor="let comic of Comic">
            <p>Series: {{comic.series.name}}</p>
            <p>Descripción: {{comic.variantDescription}}</p>
            <p>Personajes:</p>
            <ul>
                <li *ngFor="let creators of comic.characters.items">
                    {{creators.name }}
                </li>
            </ul>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <h3>Personajes</h3>
        </div>
        <div class="card-body" *ngFor="let comic of Comic">
            <ul>
              TEXT PRIMARY
              --> DESCRIPCION <--
              CON INFO
                <li *ngFor="let character of comic.characters.items">{{character.name}}</li>
            </ul>
        </div>
    </div>

  CARD DATOS QUE TENÍA
</div>
